* {
    box-sizing: border-box;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

h1 {
    font-family: 'Roboto', sans-serif;
}

p, li, a {
    font-family: 'Lato', sans-serif;
}

/* panel 1 */

.panel1 {
    background-color: darkgrey;
    width: 100vw;
    height: 100vh;
    display: flex;
}

.panel1 .pic {
    width: 70%;
}

.panel1 .text {
    width: 30%;
}

/* panel 2 */
.panel2 {
    width: 100vw;
    height: 100vh;
    display: flex;
}

.panel2 .pic {
    width: 70%;
}

.panel2 .text {
    width: 30%;
}

.panel2 .pic img {
    width: 100%;
    height: auto;
}

/* panel 3 */
.panel3 {
    /* background-color: darkgrey; */
    width: 100vw;
    height: 100vh;
    background-image: url('/Assessment_Tasks/Task_2/Exercise_3/img/nature');
}

/* media queries */